In [5]:

import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
# Leer archivo de datos
# Convertir la columna CAPE de objeto a n√∫mero
df = pd.read_csv("df2017CAPE_PW.csv", header=None, names=['Date', 'CAPE', 'PW'])
#df.CAPE=pd.to_numeric(df.CAPE, errors='coerce')
df.head()

                             Date  CAPE  PW
0                 00Z 01 Jan 2017   NaN NaN
1                     CAPE: 81.28   NaN NaN
2  Precipitable water [mm]: 17.75   NaN NaN
3                 12Z 01 Jan 2017   NaN NaN
4                     CAPE: 58.62   NaN NaN